<div class="h-screen flex flex-col justify-center items-center gap-[200px]">
  <div class="flex flex-col items-center">
    <img src="../assets/icon/avt.svg" alt="" />
    <h1 class="text-[#00A7B4] font-semibold text-[50px]">QUÊN MẬT KHẨU</h1>
    <div class="flex flex-col items-center justify-center">
      <div class="">
        <label
          for="password"
          class="text-[#00A7B4] text-[20px] font-bold cursor-pointer"
        >
          <p class="mb-2">Mật khẩu mới</p>
        </label>
        <div class="relative">
          <input
            id="password"
            class="p-5 border-[2px] rounded-lg w-[800px] h-[80px] outline-none border-[#00A7B4]"
            [type]="isPasswordVisible ? 'text' : 'password'"
            placeholder="Vui lòng nhập mật khẩu mới"
          />
          <div
            class="p-2 absolute right-5 top-[50%] translate-y-[-50%] cursor-pointer"
          >
            <img
              (click)="togglePasswordVisibility()"
              [src]="
                isPasswordVisible
                  ? '../assets/icon/openEye.svg'
                  : '../assets/icon/closeEye.svg'
              "
              alt="#"
            />
          </div>
        </div>
      </div>
      <div class="mt-6">
        <label
          for="password1"
          class="text-[#00A7B4] text-[20px] font-bold cursor-pointer"
        >
          <p class="mb-2">Nhập lại mật khẩu mới</p>
        </label>
        <div class="relative">
          <input
            id="password1"
            class="p-5 border-[2px] rounded-lg w-[800px] h-[80px] outline-none border-[#00A7B4]"
            [type]="isPasswordVisible ? 'text' : 'password'"
            placeholder="Vui lòng nhập lại mật khẩu mới"
          />
          <div
            class="p-2 absolute right-5 top-[50%] translate-y-[-50%] cursor-pointer"
          >
            <img
              (click)="togglePasswordVisibility()"
              [src]="
                isPasswordVisible
                  ? '../assets/icon/openEye.svg'
                  : '../assets/icon/closeEye.svg'
              "
              alt="#"
            />
          </div>
        </div>
      </div>
      <div
        class="mt-[50px] w-[343px] h-[80px] p-3 rounded-lg flex justify-center items-center cursor-pointer color-linear hover:opacity-90 transition-all"
      >
        <p class="text-[24px] font-semibold text-white">Xác nhận</p>
      </div>
    </div>
  </div>
</div>
