<div class="relative">
  <img
    src="../assets/icon/menu.svg"
    alt="#"
    class="absolute top-[50px] left-[50px] cursor-pointer p-3 hover:opacity-60 transition-all"
  />
  <form action="" class="flex flex-col justify-center items-center">
    <!-- Button thu chi -->
    <div class="mt-10">
      <button
        class="h-[53px] w-[250px] px-5 py-2 border rounded-lg color-linear text-white font-semibold text-[24px]"
      >
        Tiền chi
      </button>
      <button
        class="h-[53px] w-[250px] px-5 py-2 border rounded-lg color-linear text-white font-semibold opacity-50 text-[24px] hover:opacity-80 transition-all"
        (click)="onRouteIncome()"
      >
        Tiền thu
      </button>
    </div>

    <!-- input nhập -->
    <div class="mt-10 flex flex-col gap-5">
      <!-- Ngày -->
      <div class="border-input flex justify-between w-[1160px]">
        <label for="date-input" class="text-[32px] font-semibold">Ngày</label>
        <div
          class="flex w-[900px] h-[50px] justify-between items-center px-5 rounded-lg bg-[#e6f6f7]"
        >
          <img src="../assets/icon/leftDate.svg" alt="#" class="h-[32px]" />
          <input
            type="date"
            id="date-input"
            class="w-[750px] text-center bg-[#e6f6f7] border-none outline-none text-[28px]"
          />
          <img src="../assets/icon/rightDate.svg" alt="#" class="h-[32px]" />
        </div>
      </div>
      <!-- Ghi chú -->
      <div class="border-input flex justify-between w-[1160px]">
        <label for="note-input" class="text-[32px] font-semibold"
          >Ghi chú</label
        >
        <div
          class="flex w-[900px] h-[50px] justify-between items-center px-5 rounded-lg bg-[#e6f6f7]"
        >
          <input
            type="text"
            id="note-input"
            placeholder="Nhập thông tin khoản chi"
            class="w-[750px] bg-[#e6f6f7] border-none outline-none text-[26px]"
          />
        </div>
      </div>
      <!-- Tiền chi -->
      <div class="border-input flex justify-between w-[1160px]">
        <label for="data-input" class="text-[32px] font-semibold"
          >Tiền chi</label
        >
        <div
          class="flex w-[900px] h-[50px] justify-between items-center px-5 rounded-lg bg-[#e6f6f7]"
        >
          <input
            type="number"
            id="data-input"
            class="w-[750px] bg-[#e6f6f7] border-none outline-none text-[28px] font-semibold"
          />
          <p class="text-[32px] font-semibold">VND</p>
        </div>
      </div>
    </div>
    <!-- Danh mục để chọn -->
    <div class="w-[1160px] mt-10 font-semibold">
      <p class="text-[32px] w-full m">Danh mục</p>
      <!--List items: danh sách các mục chi tiêu -->
      <div class="flex flex-wrap gap-[50px] p-10">
        <!-- item -->

        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <div class="flex flex-col justify-center items-center">
            <img
              src="../assets/icon/eat.svg"
              alt="#"
              class="h-[48px] w-[48px]"
            />
            <p class="text-[18px]">Ăn uống</p>
          </div>
        </div>
        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <div class="flex flex-col justify-center items-center">
            <img
              src="../assets/icon/eat.svg"
              alt="#"
              class="h-[48px] w-[48px]"
            />
            <p class="text-[18px]">Ăn uống</p>
          </div>
        </div>
        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <div class="flex flex-col justify-center items-center">
            <img
              src="../assets/icon/eat.svg"
              alt="#"
              class="h-[48px] w-[48px]"
            />
            <p class="text-[18px]">Ăn uống</p>
          </div>
        </div>
        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <div class="flex flex-col justify-center items-center">
            <img
              src="../assets/icon/eat.svg"
              alt="#"
              class="h-[48px] w-[48px]"
            />
            <p class="text-[18px]">Ăn uống</p>
          </div>
        </div>
        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <div class="flex flex-col justify-center items-center">
            <img
              src="../assets/icon/eat.svg"
              alt="#"
              class="h-[48px] w-[48px]"
            />
            <p class="text-[18px]">Ăn uống</p>
          </div>
        </div>
        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <div class="flex flex-col justify-center items-center">
            <img
              src="../assets/icon/eat.svg"
              alt="#"
              class="h-[48px] w-[48px]"
            />
            <p class="text-[18px]">Ăn uống</p>
          </div>
        </div>
        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <div class="flex flex-col justify-center items-center">
            <img
              src="../assets/icon/eat.svg"
              alt="#"
              class="h-[48px] w-[48px]"
            />
            <p class="text-[18px]">Ăn uống</p>
          </div>
        </div>
        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <div class="flex flex-col justify-center items-center">
            <img
              src="../assets/icon/eat.svg"
              alt="#"
              class="h-[48px] w-[48px]"
            />
            <p class="text-[18px]">Ăn uống</p>
          </div>
        </div>
        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <div class="flex flex-col justify-center items-center">
            <img
              src="../assets/icon/eat.svg"
              alt="#"
              class="h-[48px] w-[48px]"
            />
            <p class="text-[18px]">Ăn uống</p>
          </div>
        </div>
        <div
          class="h-[104px] w-[170px] border border-[#00A7B4] rounded-lg flex justify-center items-center cursor-pointer hover:bg-slate-300"
        >
          <p class="text-[18px]">Chỉnh sửa</p>
        </div>
      </div>
    </div>
    <!-- nút submit -->
    <button
      class="h-[80px] w-[606px] px-5 py-2 border rounded-lg color-linear text-white font-semibold text-[28px] hover:opacity-90 transition-all"
    >
      Nhập khoản chi
    </button>
  </form>
</div>
