<div class="h-screen flex flex-col justify-center items-center gap-[200px]">
  <div class="flex flex-col items-center">
    <img src="../assets/icon/avt.svg" alt="" />
    <h1 class="text-[#00A7B4] font-semibold text-[50px]">QUÊN MẬT KHẨU</h1>
    <div class="flex flex-col items-center justify-center">
      <div class="mt-[30px]">
        <label
          for="email"
          class="text-[#00A7B4] text-[20px] font-bold cursor-pointer"
        >
          <p class="mb-4">Tên đăng nhập hoặc email</p>
        </label>
        <input
          id="email"
          class="p-5 border-[2px] rounded-lg w-[800px] h-[80px] outline-none border-[#00A7B4]"
          type="email"
          placeholder="Vui lòng nhập tên hoặc email"
        />
      </div>
      <div
        class="mt-[50px] w-[343px] h-[80px] p-3 rounded-lg flex justify-center items-center cursor-pointer color-linear hover:opacity-90 transition-all"
      >
        <p class="text-[24px] font-semibold text-white">Gửi mã xác nhận</p>
      </div>
      <a
        href=""
        class="mt-[10px] text-[18px] text-[#00A7B4] font-semibold italic hover:opacity-90 transition-all"
        >Bạn có tài khoản khác?</a
      >
    </div>
  </div>
</div>
