<img
  src="../assets/icon/avt.svg"
  alt="#"
  class="w-full h-full z-0 opacity-20 absolute inset-0"
/>
<div
  class="flex flex-col justify-center items-center px-[520px] pt-5 w-full gap-5 absolute top-20"
>
  <h1 class="text-[20px] font-bold text-[#00A7B4]">ĐỔI MẬT KHẨU</h1>
  <div class="flex justify-between items-center w-fullflex w-full">
    <label
      for="fullname"
      class="text-[#00A7B4] text-[20px] font-bold cursor-pointer"
      >Mật khẩu cũ:
    </label>
    <input
      type="text"
      id="fullname"
      class="p-5 border-[2px] rounded-lg w-[650px] h-[60px] outline-none border-[#00A7B4]"
      type="text"
      placeholder="Vui lòng nhập mật khẩu cũ"
    />
  </div>
  <div class="flex justify-between items-center w-fullflex w-full">
    <label
      for="fullname"
      class="text-[#00A7B4] text-[20px] font-bold cursor-pointer"
      >Mật khẩu mới:
    </label>
    <input
      type="text"
      id="fullname"
      class="p-5 border-[2px] rounded-lg w-[650px] h-[60px] outline-none border-[#00A7B4]"
      type="text"
      placeholder="Vui lòng nhập mật khẩu mới"
    />
  </div>
  <div class="flex justify-between items-center w-fullflex w-full">
    <label
      for="fullname"
      class="text-[#00A7B4] text-[20px] font-bold cursor-pointer"
      >Nhập lại mật khẩu mới:
    </label>
    <input
      type="text"
      id="fullname"
      class="p-5 border-[2px] rounded-lg w-[650px] h-[60px] outline-none border-[#00A7B4]"
      type="text"
      placeholder="Vui lòng nhập lại mật khẩu mới"
    />
  </div>
  <div class="w-full right-0 relative">
    <button
      type="submit"
      class="px-7 py-3 absolute right-0 bg-[#00A7B4] rounded-lg text-white font-bold"
    >
      Cập nhật
    </button>
  </div>
</div>
