<div class="fixed top-0 left-0 bottom-0 right-0 w-full h-full z-10">
  <!-- lớp phủ  -->
  <div class="h-screen w-full absolute top-0 left-0 bg-black opacity-10"></div>

  <!-- menu -->
  <div
    class="menu show w-[360px] bg-white shadow-lg h-screen absolute top-0 left-0"
  >
    <!-- avt -->
    <div class="flex flex-col items-center w-full mt-10">
      <img
        src="../assets/img/avt.jpg"
        alt="#"
        class="rounded-full h-[167px] w-[167px] shadow-lg"
      />
      <p class="text-[20px] text-[#00A7B4] font-semibold mt-5">XIN CHÀO</p>
      <p class="text-[20px] text-[#00A7B4] font-semibold">Vũ Hồng Sơn</p>
    </div>

    <!-- select menu -->
    <ul class="mt-10 flex flex-col">
      <li
        class="cursor-pointer py-3 hover:bg-slate-200 pl-10 flex items-center gap-5 bg-slate-300"
      >
        <img src="../assets/icon/pen.svg" alt="#" />
        <p class="text-[20px] text-[#00A7B4] font-semibold">Nhập vào</p>
      </li>
      <li
        class="cursor-pointer py-3 hover:bg-slate-200 pl-10 flex items-center gap-5"
      >
        <img src="../assets/icon/calendar.svg" alt="#" />
        <p class="text-[20px] text-[#00A7B4] font-semibold">Lịch</p>
      </li>
      <li
        class="cursor-pointer py-3 hover:bg-slate-200 pl-10 flex items-center gap-5"
      >
        <img src="../assets/icon/trello.svg" alt="#" />
        <p class="text-[20px] text-[#00A7B4] font-semibold">Báo cáo</p>
      </li>
      <li
        class="cursor-pointer py-3 hover:bg-slate-200 pl-[100px] flex items-center gap-5"
      >
        <img src="../assets/icon/trelloRound.svg" alt="#" />
        <p class="text-[20px] text-[#00A7B4] font-semibold">Biểu đồ tròn</p>
      </li>
      <li
        class="cursor-pointer py-3 hover:bg-slate-200 pl-[100px] flex items-center gap-5"
      >
        <img src="../assets/icon/trelloCol.svg" alt="#" />
        <p class="text-[20px] text-[#00A7B4] font-semibold">Biểu đồ cột</p>
      </li>
      <li
        class="cursor-pointer py-3 hover:bg-slate-200 pl-10 flex items-center gap-5"
      >
        <img src="../assets/icon/setting.svg" alt="#" />
        <p class="text-[20px] text-[#00A7B4] font-semibold">Cài đặt cơ bản</p>
      </li>
      <li
        class="cursor-pointer py-3 hover:bg-slate-200 pl-[100px] flex items-center gap-5"
      >
        <img src="../assets/icon/user.svg" alt="#" />
        <p class="text-[20px] text-[#00A7B4] font-semibold">
          Thông tin cá nhân
        </p>
      </li>
      <li
        class="cursor-pointer py-3 hover:bg-slate-200 pl-[100px] flex items-center gap-5"
      >
        <img src="../assets/icon/key.svg" alt="#" />
        <p class="text-[20px] text-[#00A7B4] font-semibold">Đổi mật khẩu</p>
      </li>
      <li class="py-3 pl-10 flex items-center gap-5">
        <img src="../assets/icon/calculator.svg" alt="#" />
        <p class="text-[20px] text-[#00A7B4] font-semibold">Tính thu nhập</p>
        <div class="w-[72px] h-[28px] bg-[#D9D9D9] rounded-lg text-center">
          <button class="w-[36px] h-[28px] bg-[#00A7B4] text-white rounded-lg">
            on
          </button>
          <button class="w-[36px] h-[28px] text-white">off</button>
        </div>
      </li>
    </ul>
    <!-- Đăng xuất -->
    <div class="flex justify-center my-10">
      <button
        class="h-[50px] w-[250px] px-3 py-2 border rounded-lg color-linear text-white font-semibold text-[22px] hover:opacity-90 transition-all"
      >
        Đăng xuất
      </button>
    </div>
  </div>
</div>
