.color-linear {
  background-image: linear-gradient(
    to top left,
    rgba(164, 217, 108, 1),
    rgba(0, 180, 103, 1)
  );
}

.menu {
  max-height: 100vh;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: all 0.2s linear;
  &::-webkit-scrollbar {
    display: none;
  }
  &.show {
    transform: translateX(0);
  }
}
